Repository braintrustdata/braintrust-x-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, gradle-build

java-format:
  name: Java Format Check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

gradle-build:
  name: Gradle Build
  entry: ./gradlew build -x test
  language: system
  pass_filenames: false

eval unit test
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/test/java/dev/braintrust/eval/EvalTest.java
  src/test/java/dev/braintrust/trace/BraintrustTracingTest.java
Due: java-format, gradle-build

rm scala code
  braintrust-scala/README.md
  braintrust-scala/build.gradle
  braintrust-scala/src/main/scala/dev/braintrust/scala/BraintrustTracing.scala
  braintrust-scala/src/main/scala/dev/braintrust/scala/Evaluation.scala
  braintrust-scala/src/main/scala/dev/braintrust/scala/Logger.scala
Due: gradle-build

tidy up example output
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
Due: java-format, gradle-build

gut out BraintrustLogger impl to proxy to slf4j
  examples/src/main/java/dev/braintrust/examples/CustomOpenTelemetryExample.java
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatCompletionEventsHelper.java
  src/main/java/dev/braintrust/log/BraintrustLogger.java
  src/main/java/dev/braintrust/trace/BraintrustLogExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
  src/test/java/dev/braintrust/eval/EvalTest.java
  src/test/java/dev/braintrust/trace/BraintrustTracingTest.java
Due: java-format, gradle-build

rm BraintrustLogger and just use slf4j
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatCompletionEventsHelper.java
  src/main/java/dev/braintrust/log/BraintrustLogger.java
  src/main/java/dev/braintrust/trace/BraintrustLogExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

rm dead code in span processor
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
Due: java-format, gradle-build

update and trim dependencies
  build.gradle
Due: gradle-build

feat: add SLF4J logging configuration for Braintrust examples
  examples/build.gradle
Due: gradle-build

OpenAI instrumentation test
  build.gradle
  src/test/java/dev/braintrust/instrumentation/openai/BraintrustOpenAITest.java
Due: java-format, gradle-build

gradle and java to share single source of truth for sdk version
  build.gradle
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
  src/main/resources/braintrust.properties
  src/test/java/dev/braintrust/trace/BraintrustTracingTest.java
Due: java-format, gradle-build

update docs
  README.md
  build.gradle
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/instrumentation/openai/BraintrustOpenAI.java
Due: java-format, gradle-build

allowing workflow dispatch for CI
  .github/workflows/ci.yml
Due: none

release actions/scripts outline
  .github/workflows/create-and-publish-release.yml
  .github/workflows/publish-existing-release.yml
  README.md
  scripts/create-new-release.sh
Due: none

feat: implement create-new-release.sh script for managing release versions
  scripts/create-new-release.sh
Due: none

feat: implement GitHub workflow for creating and publishing releases
  .github/workflows/ci.yml
  .github/workflows/create-and-publish-release.yml
  .github/workflows/publish-existing-release.todo
Due: none

feat: implement publish-existing-release workflow with tag validation and GitHub release creation
  .github/workflows/publish-existing-release.todo
  .github/workflows/publish-existing-release.yml
Due: none

hide docs
  README.md
Due: none

don't push release stuff just yet
  .github/workflows/create-and-publish-release.yml
Due: none

fix: remove branch trigger from publish-existing-release workflow
  .github/workflows/publish-existing-release.yml
Due: none

refactor: remove branch input and use current workflow branch context
  .github/workflows/create-and-publish-release.yml
Due: none

document release process
  README.md
Due: none

rm release docs
  README.md
Due: none

rm CLAUDE.md
  CLAUDE.md
Due: none

feat: Generate braintrust.properties dynamically with git info
  build.gradle
  src/main/resources/braintrust.properties
Due: gradle-build

add release script
  .github/workflows/create-and-publish-release.yml
  .github/workflows/publish-release-from-tag.yml
  scripts/create-new-release.sh
  scripts/release.sh
Due: none

log instrumentation name and version on otel enable
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

move developer docs to CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

remove SDKSpec stub file
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/spec/SdkSpec.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
  src/test/java/dev/braintrust/eval/EvalTest.java
Due: java-format, gradle-build

feat: add a main class for jar build sanity checking
  build.gradle
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
  src/main/java/dev/braintrust/trace/SDKMain.java
Due: java-format, gradle-build

use java 17 toolchain in gradle build
  .github/workflows/ci.yml
  .github/workflows/publish-release-from-tag.yml
  build.gradle
  examples/build.gradle
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

claude stuff
  examples/src/main/java/dev/braintrust/examples/AnthropicInstrumentationExample.java
  src/main/java/dev/braintrust/instrumentation/anthropic/BraintrustAnthropic.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/AnthropicTelemetry.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/AnthropicTelemetryBuilder.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/DelegatingInvocationHandler.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/GenAiAttributes.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/InstrumentedAnthropicClient.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/InstrumentedMessageService.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/MessageAttributesGetter.java
Due: java-format, gradle-build

wip
  build.gradle
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/AnthropicInstrumentationExample.java
  src/main/java/dev/braintrust/instrumentation/anthropic/BraintrustAnthropic.java
Due: java-format, gradle-build

ignore claude code
  .gitignore
Due: none

auto-download missing toolchains
  gradle.properties
  settings.gradle
Due: gradle-build

rm dead code
  FIXES_SUMMARY.md
  run-with-env.sh
Due: none

fix testJar check
  build.gradle
Due: gradle-build

Anthropic instrumentation pattern-matching OAI
  .gitignore
  build.gradle
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/AnthropicInstrumentationExample.java
  examples/src/main/java/dev/braintrust/examples/CustomOpenTelemetryExample.java
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  examples/src/main/java/dev/braintrust/examples/SimpleOpenTelemetryExample.java
  src/main/java/dev/braintrust/instrumentation/anthropic/BraintrustAnthropic.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/AnthropicTelemetry.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/AnthropicTelemetryBuilder.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/DelegatingInvocationHandler.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/GenAiAttributes.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/InstrumentedAnthropicClient.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/InstrumentedMessageService.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/MessageAttributesGetter.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatCompletionEventsHelper.java
  src/test/java/dev/braintrust/instrumentation/anthropic/BraintrustAnthropicTest.java
Due: java-format, gradle-build

streaming messages examples
  examples/src/main/java/dev/braintrust/examples/AnthropicInstrumentationExample.java
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
Due: java-format, gradle-build

test for genai system message
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/GenAiAttributes.java
  src/test/java/dev/braintrust/instrumentation/anthropic/BraintrustAnthropicTest.java
Due: java-format, gradle-build

instrumentation for oai streaming
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/StreamListener.java
  src/test/java/dev/braintrust/instrumentation/openai/BraintrustOpenAITest.java
Due: java-format, gradle-build

Path conditions:
  java-format: any of: \.java$
  gradle-build: any of: \.(java|gradle)$
