Repository braintrustdata/braintrust-x-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, gradle-build

java-format:
  name: Java Format Check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

gradle-build:
  name: Gradle Build
  entry: ./gradlew build -x test
  language: system
  pass_filenames: false

anthropic streaming example
  examples/src/main/java/dev/braintrust/examples/AnthropicInstrumentationExample.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/InstrumentedMessageService.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/StreamListener.java
  src/main/java/dev/braintrust/instrumentation/anthropic/otel/TracingStreamedResponse.java
  src/test/java/dev/braintrust/instrumentation/anthropic/BraintrustAnthropicTest.java
Due: java-format, gradle-build

auto-download docs and sources for popular IDEs
  build.gradle
Due: gradle-build

mv test deps to testImplementation
  build.gradle
  examples/build.gradle
Due: gradle-build

gradle cache info for jar
  build.gradle
Due: gradle-build

rm unused plugins
  build.gradle
Due: gradle-build

stop using deprecated buildDir
  build.gradle
  examples/build.gradle
Due: gradle-build

fail testJar task if jar version does not match expectations
  build.gradle
Due: gradle-build

wip
  sdkspec/.gitignore
  sdkspec/README.md
  sdkspec/SdkSpec.java.j2
  sdkspec/generate.py
  sdkspec/requirements.txt
  sdkspec/sdk-spec.yaml
Due: none

wip
  sdkspec/.gitignore
  sdkspec/README.md
  sdkspec/SdkSpec.java.j2
  sdkspec/generate.py
  sdkspec/requirements.txt
  sdkspec/sdk-spec.yaml
  sdkspec/test/test-openai.yaml
  src/test/java/dev/braintrust/sdkspec/SdkTestRunner.java
Due: java-format, gradle-build

test image fixture
  src/test/java/dev/braintrust/instrumentation/openai/travel-paris-france-poster.jpg
Due: none

Braintrust-friendly attachments, conforming to otel genai semconv
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatCompletionEventsHelper.java
  src/main/java/dev/braintrust/trace/Base64Attachment.java
  src/test/java/dev/braintrust/instrumentation/openai/BraintrustOpenAITest.java
  src/test/java/dev/braintrust/trace/Base64AttachmentTest.java
Due: java-format, gradle-build

point folks at the new repo
  README.md
Due: none

Path conditions:
  java-format: any of: \.java$
  gradle-build: any of: \.(java|gradle)$
