Repository braintrustdata/braintrust-x-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, gradle-build

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
  - repo: local
    hooks:
      - id: java-format
        name: Java Format Check
        entry: ./gradlew spotlessCheck
        language: system
        pass_filenames: false
        files: \.java$
        
      - id: java-format-apply
        name: Java Format Apply
        entry: ./gradlew spotlessApply
        language: system
        pass_filenames: false
        files: \.java$
        stages: [manual]  # Run with: pre-commit run --hook-stage manual java-format-apply
        
      - id: gradle-build
        name: Gradle Build
        entry: ./gradlew build -x test
        language: system
        pass_filenames: false
        files: \.(java|gradle)$
        
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

link openai instrumentation to experiment
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/trace/BraintrustContext.java
Due: java-format, gradle-build

support experimental otel log exporting
  README.md
  build.gradle
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/instrumentation/openai/BraintrustOpenAI.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

local otel collector
  README.md
  localcollector/collector.yaml
Due: none

BraintrustLogExporter and impl
  build.gradle
  src/main/java/dev/braintrust/trace/BraintrustLogExporter.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

tweak local collector docs
  README.md
Due: none

flush all otel data concurrently
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

Smooth API rough edges and outline tracing `enable` method
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/CustomOpenTelemetryExample.java
  examples/src/main/java/dev/braintrust/examples/SimpleOpenTelemetryExample.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

implement enable api and remove dead code
  examples/src/main/java/dev/braintrust/examples/CustomOpenTelemetryExample.java
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

refactor and document Eval api
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/eval/EvalCase.java
  src/main/java/dev/braintrust/eval/Scorer.java
  src/main/java/dev/braintrust/eval/Task.java
Due: java-format, gradle-build

refactor: collapse Eval EXPECTED and RESULT generics into OUTPUT
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/eval/EvalCase.java
  src/main/java/dev/braintrust/eval/Scorer.java
  src/main/java/dev/braintrust/eval/Task.java
Due: java-format, gradle-build

Update docs and examples
  README.md
  examples/README.md
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
Due: java-format, gradle-build

remove org name config
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/eval/Eval.java
Due: java-format, gradle-build

make otel PARENT logic consistent with other SDKs
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/trace/BraintrustLogExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
Due: java-format, gradle-build

make Eval parent config consistent with other SDKs
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/eval/Eval.java
Due: java-format, gradle-build

print URL to see data in Braintrust for all examples
  examples/src/main/java/dev/braintrust/examples/CustomOpenTelemetryExample.java
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  examples/src/main/java/dev/braintrust/examples/SimpleOpenTelemetryExample.java
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/eval/Eval.java
Due: java-format, gradle-build

tweak docs
  README.md
Due: none

tweak example url string
  examples/src/main/java/dev/braintrust/examples/CustomOpenTelemetryExample.java
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  examples/src/main/java/dev/braintrust/examples/SimpleOpenTelemetryExample.java
Due: java-format, gradle-build

run spotless formatter to get CI working again
  examples/src/main/java/dev/braintrust/examples/CustomOpenTelemetryExample.java
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  examples/src/main/java/dev/braintrust/examples/SimpleOpenTelemetryExample.java
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/eval/EvalCase.java
  src/main/java/dev/braintrust/eval/Scorer.java
  src/main/java/dev/braintrust/instrumentation/openai/BraintrustOpenAI.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatAttributesGetter.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatCompletionEventsHelper.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/CompletableFutureWrapper.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/DelegatingInvocationHandler.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/EmbeddingAttributesGetter.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/GenAiAttributes.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedChatCompletionService.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedChatCompletionServiceAsync.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedChatService.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedChatServiceAsync.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedEmbeddingService.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedEmbeddingServiceAsync.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedOpenAiClient.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedOpenAiClientAsync.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/OpenAITelemetry.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/OpenAITelemetryBuilder.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/StreamListener.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/StreamedMessageBuffer.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/TracingAsyncStreamedResponse.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/TracingStreamedResponse.java
  src/main/java/dev/braintrust/log/BraintrustLogger.java
  src/main/java/dev/braintrust/trace/BraintrustContext.java
  src/main/java/dev/braintrust/trace/BraintrustLogExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
  src/main/java/dev/braintrust/trace/DebugSpanExporter.java
Due: java-format, gradle-build

simplify CI
  .github/workflows/ci.yml
  build.gradle
Due: gradle-build

simple config test
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/test/java/dev/braintrust/config/BraintrustConfigTest.java
Due: java-format, gradle-build

clean up comment
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
Due: java-format, gradle-build

remove max tokens from experiment
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
Due: java-format, gradle-build

link to `braintrust-java` to avoid confusion
  README.md
Due: none

send input_json and output_json instead
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatCompletionEventsHelper.java
Due: java-format, gradle-build

tweak warning language in README
  README.md
Due: none

rm "warning" from README's beta disclaimer
  README.md
Due: none

rm builder from Config setup and favor envars
  build.gradle
  examples/build.gradle
  src/main/java/dev/braintrust/config/BaseConfig.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/test/java/dev/braintrust/config/BaseConfigTest.java
  src/test/java/dev/braintrust/config/BraintrustConfigTest.java
Due: java-format, gradle-build

Don't use braintrust tracer in custom otel example
  examples/src/main/java/dev/braintrust/examples/CustomOpenTelemetryExample.java
Due: java-format, gradle-build

api nitpicks
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  examples/src/main/java/dev/braintrust/examples/SimpleOpenTelemetryExample.java
  src/main/java/dev/braintrust/api/ApiException.java
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BaseConfig.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/instrumentation/openai/BraintrustOpenAI.java
  src/main/java/dev/braintrust/log/BraintrustLogger.java
  src/main/java/dev/braintrust/trace/BraintrustLogExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
  src/main/java/dev/braintrust/trace/DebugSpanExporter.java
  src/test/java/dev/braintrust/config/BaseConfigTest.java
  src/test/java/dev/braintrust/config/BraintrustConfigTest.java
Due: java-format, gradle-build

hacking
  src/main/java/dev/braintrust/SDKSpec.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
Due: java-format, gradle-build

wip
  sdkspec/.gitignore
  sdkspec/SdkSpec.java.j2
  sdkspec/generate.py
  sdkspec/requirements.txt
  sdkspec/sdk-spec.yaml
Due: none

feat: add Jinja2 helper macro for Java constant name conversion
  sdkspec/.gitignore
  sdkspec/_helpers.j2
Due: none

refactor: move java_const helper function into generate.py
  sdkspec/SdkSpec.java.j2
  sdkspec/generate.py
Due: none

wip
  sdkspec/README.md
  sdkspec/_helpers.j2
  sdkspec/sdk-spec.yaml
Due: none

feat: Implement InMemoryImpl for BraintrustApiClient and add project URI fetching test
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/test/java/dev/braintrust/config/BraintrustConfigTest.java
Due: java-format, gradle-build

outline eval and tracing unit tests
  examples/src/main/java/dev/braintrust/examples/SimpleOpenTelemetryExample.java
  src/main/java/dev/braintrust/trace/BraintrustLogExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/test/java/dev/braintrust/eval/EvalTest.java
  src/test/java/dev/braintrust/trace/BraintrustTracingTest.java
Due: java-format, gradle-build

fix bt config test
  src/test/java/dev/braintrust/config/BraintrustConfigTest.java
Due: java-format, gradle-build

BraintrustTracing test
  build.gradle
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/trace/BraintrustContext.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
  src/test/java/dev/braintrust/trace/BraintrustTracingTest.java
Due: java-format, gradle-build

remove dead code, limit public visibility
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/spec/SdkSpec.java
  src/main/java/dev/braintrust/trace/BraintrustContext.java
  src/main/java/dev/braintrust/trace/BraintrustLogExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
Due: java-format, gradle-build
