Repository braintrustdata/braintrust-x-java: changes, and which pre-commit hooks are due for each by the changed paths.
All: java-format, gradle-build

java-format:
  name: Java Format Check
  entry: ./gradlew spotlessCheck
  language: system
  pass_filenames: false

gradle-build:
  name: Gradle Build
  entry: ./gradlew build -x test
  language: system
  pass_filenames: false

Add scala
  braintrust-scala/README.md
  braintrust-scala/src/main/scala/dev/braintrust/scala/Evaluation.scala
  braintrust-scala/src/main/scala/dev/braintrust/scala/Logger.scala
  examples/scala/SimpleExample.scala
Due: none

improving eval support
  README.md
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/DebugAuthHeader.java
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  examples/src/main/java/dev/braintrust/examples/ExperimentWithApiExample.java
  examples/src/main/java/dev/braintrust/examples/SimpleExperimentExample.java
  examples/src/main/java/dev/braintrust/examples/SimpleExperimentWithRegistration.java
  examples/src/main/java/dev/braintrust/examples/TestApiEndpoints.java
  examples/test-config.properties
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/api/Experiment.java
  src/main/java/dev/braintrust/api/Project.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/eval/Evaluation.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

add claude helpers
  .env.example
  CLAUDE.md
  run-with-env.sh
  src/main/java/dev/braintrust/eval/Evaluation.java
Due: java-format, gradle-build

improve dx
  .env.example
  FIXES_SUMMARY.md
  README.md
  examples/src/main/java/dev/braintrust/examples/SimpleExperimentWithRegistration.java
  run-with-env.sh
Due: java-format, gradle-build

Add real evaluation example with OpenAI integration
  .env.example
  build.gradle
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/TriviaEvaluation.java
  src/main/java/dev/braintrust/openai/BraintrustOpenAI.java
Due: java-format, gradle-build

Use *_json attribute names for proper JSON parsing
  src/main/java/dev/braintrust/openai/BraintrustOpenAI.java
Due: java-format, gradle-build

Add braintrust.scores JSON attribute for proper score parsing
  src/main/java/dev/braintrust/eval/Evaluation.java
Due: java-format, gradle-build

Update README with canonical example instructions
  README.md
Due: none

Match Go SDK span attribute conventions
  src/main/java/dev/braintrust/eval/Evaluation.java
Due: java-format, gradle-build

Fix hardcoded org ID in TriviaEvaluation.java
  examples/src/main/java/dev/braintrust/examples/TriviaEvaluation.java
Due: java-format, gradle-build

Use project.name() instead of project object in experiment URL
  examples/src/main/java/dev/braintrust/examples/TriviaEvaluation.java
Due: java-format, gradle-build

Add automatic organization name retrieval to BraintrustConfig
  examples/src/main/java/dev/braintrust/examples/TriviaEvaluation.java
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
Due: java-format, gradle-build

Fix Java pattern matching syntax for CI compatibility
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
Due: java-format, gradle-build

Add blank line in record to improve CI compatibility
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
Due: java-format, gradle-build

Remove Java 11 from CI matrix to fix record syntax errors
  .github/workflows/ci.yml
Due: none

Fix tests for updated span attributes and API endpoints
  src/test/java/dev/braintrust/api/BraintrustApiClientTest.java
  src/test/java/dev/braintrust/trace/BraintrustSpanProcessorTest.java
  src/test/java/dev/braintrust/trace/BraintrustTracingTest.java
Due: java-format, gradle-build

Remove Java 11 from CI matrix
  .github/workflows/ci.yml
Due: none

Fix all failing tests
  src/main/java/dev/braintrust/instrumentation/anthropic/AnthropicInterceptor.java
  src/main/java/dev/braintrust/instrumentation/openai/OpenAIInterceptor.java
  src/test/java/dev/braintrust/eval/EvaluationIntegrationTest.java
  src/test/java/dev/braintrust/instrumentation/anthropic/AnthropicInterceptorTest.java
  src/test/java/dev/braintrust/instrumentation/openai/OpenAIInterceptorTest.java
Due: java-format, gradle-build

Add authenticated user's orgName to BraintrustConfig (#1)
  examples/src/main/java/dev/braintrust/examples/TriviaEvaluation.java
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
Due: java-format, gradle-build

display Experiment URL to stdout automatically instead of specifying it manually
  examples/src/main/java/dev/braintrust/examples/SimpleExperimentWithRegistration.java
  examples/src/main/java/dev/braintrust/examples/TriviaEvaluation.java
  src/main/java/dev/braintrust/api/Experiment.java
  src/test/java/dev/braintrust/api/ExperimentTest.java
Due: java-format, gradle-build

Add license
  LICENSE
  README.md
  build.gradle
Due: gradle-build

make tests pass
  build.gradle
Due: gradle-build

remove build.gradle changes
  build.gradle
Due: gradle-build

Add option to configire the SSL context for the span exporter
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
Due: java-format, gradle-build

Update testParallelEvaluation to not depend on overhead
  src/test/java/dev/braintrust/eval/EvaluationTest.java
Due: java-format, gradle-build

remove ai notes
  FIXES_SUMMARY.md
Due: none

use mise for hooks install
  .mise.toml
  build.gradle
  scripts/install-hooks.sh
Due: gradle-build

silent mise fmt check
  .mise.toml
Due: none

ignore claude
  .gitignore
Due: none

Sketch out basic OTel tracing
  examples/src/main/java/dev/braintrust/examples/OpenTelemetryTracingExample.java
  src/main/java/dev/braintrust/api/ApiException.java
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/instrumentation/openai/OpenAIInterceptor.java
  src/main/java/dev/braintrust/trace/BraintrustContext.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
  src/main/java/dev/braintrust/trace/DebugSpanExporter.java
Due: java-format, gradle-build

fix logger bug
  examples/build.gradle
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/instrumentation/openai/OpenAIInterceptor.java
  src/main/java/dev/braintrust/log/BraintrustLogger.java
  src/main/java/dev/braintrust/trace/BraintrustSpanExporter.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
  src/main/java/dev/braintrust/trace/DebugSpanExporter.java
Due: java-format, gradle-build

fix misc otel impl bugs and play nice w/ jvm shutdown
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/OpenTelemetryTracingExample.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

openai instrumentation via otel integration
  build.gradle
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  src/main/java/dev/braintrust/instrumentation/openai/OpenAIInterceptor.java
Due: java-format, gradle-build

pull in otel integration so we can send chat message attributes
  build.gradle
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  src/main/java/dev/braintrust/instrumentation/openai/OpenAIInterceptor.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatAttributesGetter.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatCompletionEventsHelper.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/CompletableFutureWrapper.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/DelegatingInvocationHandler.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/EmbeddingAttributesGetter.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/GenAiAttributes.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedChatCompletionService.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedChatCompletionServiceAsync.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedChatService.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedChatServiceAsync.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedEmbeddingService.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedEmbeddingServiceAsync.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedOpenAiClient.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/InstrumentedOpenAiClientAsync.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/OpenAITelemetry.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/OpenAITelemetryBuilder.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/StreamListener.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/StreamedMessageBuffer.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/TracingAsyncStreamedResponse.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/TracingStreamedResponse.java
  src/main/java/dev/braintrust/trace/BraintrustSpanProcessor.java
Due: java-format, gradle-build

braintrust OAI example
  examples/src/main/java/dev/braintrust/examples/OpenAIInstrumentationExample.java
  src/main/java/dev/braintrust/instrumentation/openai/BraintrustOpenAI.java
  src/main/java/dev/braintrust/instrumentation/openai/OpenAIInterceptor.java
Due: java-format, gradle-build

capture OAI input/output pattern-matching go SDK
  src/main/java/dev/braintrust/instrumentation/openai/BraintrustOpenAI.java
  src/main/java/dev/braintrust/instrumentation/openai/otel/ChatCompletionEventsHelper.java
Due: java-format, gradle-build

eval api outline
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  src/main/java/dev/braintrust/eval/Eval.java
Due: java-format, gradle-build

implement empty eval creation
  examples/build.gradle
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  src/main/java/dev/braintrust/api/ApiException.java
  src/main/java/dev/braintrust/api/BraintrustApiClient.java
  src/main/java/dev/braintrust/config/BraintrustConfig.java
  src/main/java/dev/braintrust/eval/Eval.java
  src/main/java/dev/braintrust/trace/BraintrustTracing.java
Due: java-format, gradle-build

experiment impls
  examples/src/main/java/dev/braintrust/examples/ExperimentExample.java
  src/main/java/dev/braintrust/eval/Eval.java
Due: java-format, gradle-build

Path conditions:
  java-format: any of: \.java$
  gradle-build: any of: \.(java|gradle)$
